<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>Email confirmation</h1>
      <p>Submit your confimation code to confirm your email address </p>
    </div>
    <div class="col-sm-12">
      <form class="form" name="form" ng-submit="confirm(form)" novalidate>

        <div class="form-group">
          <label>Confirmation code</label>

          <input type="text" name="confirmCode" class="form-control" ng-model="confirm.code">
        </div>


        <div class="form-group has-error">
          <p class="help-block" ng-show="form.confirmCode.$error.required && submitted">
             Please enter your email confirmation code.
          </p>
          <p class="help-block">{{ errors.other }}</p>
        </div>

        <div class="col-sm-6">
          <button class="btn btn-inverse btn-lg btn-primary" type="submit">
            Confirm email
          </button>
        </div>

        <div class="col-sm-6">
          <br>
          <a href="" ng-click="sendConfirmationMail()" ng-show="isLoggedIn()" ng-hide="confirmationMailSend()">Send new mail activation code.</a>
        </div>

      </form>


    </div>
  </div>
  <hr>
</div>